.banniere-video {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh;

  justify-items: center;
  /*align-items: center;*/

  overflow: hidden;

  video, img, h2 {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  video{
    width: 100%;
    z-index: 2;
    display: none;
  }

  h2 {
    color: $white;
    z-index: 3;
    align-self: center;
  }

}

@media screen and (min-width: 500px) {
  .banniere-video {

    video {
      display: block;
    }

    img {
      display: none;
    }

  }
}